.mce-content-body .iorad-placeholder + br {
    display: none;
}

.mce-content-body .iorad-placeholder {
    color: #ececec;
    width: 100%;
    word-break: break-all;
    height: 260px;
    cursor: pointer;
    background: url([[pix:tiny_iorad|tutorial_embedded]]) center center / auto auto no-repeat #ececec;
}


.mce-content-body .iorad-placeholder > * {
    display: none;
}
