{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_iorad/modal

    Modal to manage an iorad activity within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "elementid": "exampleId"
    }
}}

{{<core/modal}}

    {{$title}}
        <div class="iorad-modal-title">
            <div class="iorad-modal-logo">{{{logo}}}</div>
            <div>{{#str}} modal_title, tiny_iorad {{/str}}</div>
        </div>
    {{/title}}

    {{$body}}
        <form class="iorad-form">

            <div class="iorad-field-group {{#ioradEmbedCode}}iorad-hidden{{/ioradEmbedCode}}">
                <label for="{{elementid}}-{{uniqid}}-url" class="sr-only">{{#str}}input_url_label, tiny_iorad{{/str}}</label>
                <input name="url" class="iorad-link-input" type="url" id="{{elementid}}-{{uniqid}}-url"
                       placeholder="{{#str}}input_url_placeholder, tiny_iorad{{/str}}" value="{{ioradPlayerLink}}" />
                <div class="iorad-error-link iorad-hidden">{{#str}}invalid_url, tiny_iorad{{/str}}</div>
            </div>

            <div class="iorad-field-group {{^ioradEmbedCode}}iorad-hidden{{/ioradEmbedCode}}">
                <label for="{{elementid}}-{{uniqid}}-iframe" class="sr-only">{{#str}}input_iframe_label, tiny_iorad{{/str}}</label>
                <textarea name="url" class="iorad-iframe-textarea" id="{{elementid}}-{{uniqid}}-iframe" rows="7"
                          placeholder="{{#str}}input_iframe_placeholder, tiny_iorad{{/str}}">{{ioradEmbedCode}}</textarea>
                <div class="iorad-error-iframe iorad-hidden">{{#str}}invalid_iframe, tiny_iorad{{/str}}</div>
            </div>

            <div class="iorad-buttons">
                <button type="button" class="iorad-switch-button">
                    {{#ioradEmbedCode}}{{#str}}swicth_to_url, tiny_iorad{{/str}}{{/ioradEmbedCode}}
                    {{^ioradEmbedCode}}{{#str}}swicth_to_iframe, tiny_iorad{{/str}}{{/ioradEmbedCode}}
                </button>
                <button class="iorad-save-button {{#ioradEmbedCode}}iorad-button-black{{/ioradEmbedCode}}"
                        data-action="save" {{^ioradEmbedCode}}disabled{{/ioradEmbedCode}} type="button">
                    {{#str}}save_iorad, tiny_iorad{{/str}}
                </button>
                <button type="button" class="iorad-cancel-button" data-action="cancel">{{#str}}cancel, moodle{{/str}}</button>
            </div>
        </form>
    {{/body}}

{{/core/modal}}
